@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
/* Navigation bar */
.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.nav-item {
    margin: 0;
}

.nav-link {
    text-decoration: none;
    padding: 10px;
}

.right-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item a {
    color: black;
    font-size: 1.1em;
}

/* home-container */
.home-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.Category-container {
    border-right: 1px solid #ccc; /* Add a right border */
    padding-right: 20px; /* Add some padding to the right to separate content from the border */
}
.listings-container {
    padding-left: 20px;
}

/*listings-container*/
.listings-container ul{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    justify-content: center;
}

.listings-container li {
    width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
   
}

.listings-container li .Image-container img {
    max-width: 100%; /* Set the maximum width to fit inside the <li> */
    max-height: 200px; /* Set the maximum height (adjust as needed) */
    object-fit: cover; /* Maintain the image's aspect ratio */
}

/*for the listing_page */

.listing-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Notifications control*/
.has-unread {
    
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .has-unread .badge {
    position: absolute;
    top: -6px;
    right: -3px;
    padding: 3px 6px;
    border-radius: 50%;
    background: red;
    color: white;
  }
