body {
    padding: 10px;
}

.form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* home-container */
.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.Category-container {
    border-right: 1px solid #ccc; /* Add a right border */
    padding-right: 20px; /* Add some padding to the right to separate content from the border */
}
.listings-container {
    padding-left: 20px;
}

/*listings-container*/
.listings-container ul{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    justify-content: center;
}

.listings-container li {
    width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
   
}

.listings-container li .Image-container img {
    max-width: 100%; /* Set the maximum width to fit inside the <li> */
    max-height: 200px; /* Set the maximum height (adjust as needed) */
    object-fit: cover; /* Maintain the image's aspect ratio */
}

/*for the listing_page */

.listing-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Notifications control*/
.has-unread {
    
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .has-unread .badge {
    position: absolute;
    top: -6px;
    right: -3px;
    padding: 3px 6px;
    border-radius: 50%;
    background: red;
    color: white;
  }
