{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create entry
{% endblock %}

{% block body %}
    <h1>Create New Entry</h1>
    <h4 style="color: #D44141">{{ errorMassage }}</h4>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
        <div>
            <label for="content">Markdown Content:</label>
        </div>
        <textarea name="content" id="content"></textarea>
        <button type="submit">Save</button>
    </form>
{% endblock %}
